.imageUI{
    width: 100%;
}

.svgStyle.col-md-3{
    margin-top: -8px;
    flex-shrink: 0;
    width: 72px;
    height: 72px;
    margin-right: 28px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(218 225 233 / 56%) 0px 8px 16px;
}

.sideHeader{
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 500;
}
