.navbar{
  
  font-size: small;
  font-weight: bold;
  border-bottom: 1px solid rgb(236, 239, 241);
}

.navbar-links{
   margin-left: 0.8rem ;
    display: flex;
    flex: 6 1 0%;
    justify-content: center;
    
}

.navbar-nav{
   margin-right:60px;
}

.navbar-brand{
  margin-left: 100px;
}
.nav-link{
  margin-right:30px;
  
}

