.App{
  
}
.button3{
  background-color: rgb(38, 93, 245);
  color: white;
  border: none;
  font-size:15px;
  font-weight: 500;
  border-radius: 0.3rem;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}